<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="slides">
    <section data-auto-animate="" data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)"
             style="top: 145.5px; display: block;" class="future" hidden="" aria-hidden="true">
        <div class="r-stack">
            <div data-id="box1" style="
            background: green;
            width: 300px;
            height: 300px;
            border-radius: 200px;
            "></div>
            <div data-id="box2" style="
            background: yellow;
            width: 200px;
            height: 200px;
            border-radius: 200px;
            "></div>
            <div data-id="box3" style="
            background: red;
            width: 100px;
            height: 100px;
            border-radius: 200px;
            "></div>
        </div>
        <h2 style="margin-top: 20px">End-to-End</h2>
    </section>
    <section data-auto-animate="pending" data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)"
             style="top: 235.5px; display: block;" class="future" hidden="" aria-hidden="true">
        <div class="r-hstack justify-center">
            <div data-id="box1" data-auto-animate-delay="0"
                 style="background: green;width: 150px;height: 100px;margin: 10px" data-auto-animate-target=""></div>
            <div data-id="box2" data-auto-animate-delay="0.1"
                 style="background: yellow;width: 150px;height: 100px;margin: 10px" data-auto-animate-target=""></div>
            <div data-id="box3" data-auto-animate-delay="0.2"
                 style="background: rgb(255, 0, 0);width: 150px;height: 100px;margin: 10px"
                 data-auto-animate-target=""></div>
        </div>
        <h2 style="margin-top: 20px">End-to-End</h2>
    </section>
    <section data-auto-animate="running" data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)"
             style="top: 213.5px; display: block;" class="present"><h2 data-auto-animate-target="unmatched">
        End-to-End</h2>
        <div class="r-hstack justify-center">
            <div data-id="box1" style="background: #999;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;" data-auto-animate-target="588"></div>
            <div data-id="box2" style="background: #999;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;" data-auto-animate-target="589"></div>
            <div data-id="box3" style="background: #999;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;" data-auto-animate-target="590"></div>
        </div>
    </section>

</body>
</html>