#set ($screenshots = $utils.getScreenshots($testResult))
#if ($screenshots.size() > 0)
<div class="slides">
    #foreach( $screenshot in $screenshots )
        <section>
            ##<img src="data:image/png;base64,$screenshot" alt="1"/>
            <img src="./images/$screenshot" alt="1" style="max-width:90%"/>
        </section>
    #end
</div>
#end