#set ($screenshots = $utils.getScreenshots($testResult))
#set ($fragments = $utils.getMetadataFragments($testResult))
#if ($screenshots.size() > 0)
<div class="slides">
    #foreach( $screenshot in $screenshots )
        <section id="$screenshot">
            <p class="close" onclick="modalClose()">$testResult.name</p>
            <table>
                <tr>
                    <td style="text-align: left; font-size: small; min-width: 15rem">
                        #foreach($fragment in $fragments.entrySet())
                            #set ($normalizedFragment = $utils.normalizeFragment($fragment.key))
                            #if (!$normalizedFragment.isEmpty())
                                <a #if($utils.screenshotHasFragment($screenshot, $fragment.key))style="display: list-item; color: red;"#end
                                   href="#/$fragment.value">$normalizedFragment</a>
                                #if(!$utils.screenshotHasFragment($screenshot, $fragment.key))<br/>#end
                                ## Show error log (if exist) for the last fragment
                                #if($velocityCount == $fragments.size())
                                    #if($utils.screenshotHasFragment($screenshot, $fragment.key))
                                        #if ($testResult.throwable && ( $testResult.status == 2 || $meta.shouldShowExpectedExceptions()))
                                            <div class="stackTrace" id="exception-$id" style="display: block">
                                                    $utils.escapeHTMLString( $testResult.throwable.toString() )<br/>
                                                #foreach ($element in $testResult.throwable.stackTrace)
                                                    $utils.escapeHTMLString( $element.toString() )<br/>
                                                #end
                                            </div>
                                        #end
                                    #end
                                #end
                            #end
                        #end
                    </td>
                    <td style="text-align: center;">
                        <img src="./images/$screenshot" alt="1" style="max-width:99%"><img>
                    </td>
                </tr>
            </table>
        </section>
    #end
</div>
#end