#set ($screenshots = $utils.getScreenshots($testResult))
#set ($fragments = $utils.getMetadataFragments($testResult))
#if ($screenshots.size() > 0)
<div class="slides">
    #foreach( $screenshot in $screenshots )
        <section id="$screenshot">
            <p class="close" onclick="modalClose()">$testResult.name</p>
            <table>
                <tr>
                    <td style="text-align: left; font-size: small; min-width: 15rem">
                        #foreach($fragment in $fragments.entrySet())
                            #if ($utils.screenshotHasFragment($screenshot, $fragment.key))
                                <a style="color: red" href="#/$fragment.value">$fragment.key</a><br>
                            #else
                                <a href="#/$fragment.value">$fragment.key</a><br>
                            #end
                        #end
                    </td>
                    <td style="text-align: center;">
                        <img src="./images/$screenshot" alt="1" style="max-width:99%"><img>
                    </td>
                </tr>
            </table>
        </section>
    #end
</div>
#end